
.gridRegis
{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    
}


.cuerpoFormm
{
    margin-top: 60px;
    width: 85%;
    height: 555px;
    border: 1px solid rgb(228, 226, 226);
    
}

.contenedorTituloyTexto
{
    margin-top: 110px;
    width: 80%;

}

.contenedorTituloyTexto img
{
    width: 300px ;
    height: 200px;
    margin-top: 40px;
    margin-left: 5px;
    
}

.tituloPrra
{
    font-size: 35px;
    margin-bottom: 20px;
}

.contenedorTituloyTexto p
{
    font-size: 18px;
}