
.gridBatalla
{
    display: grid;
    grid-template-columns: 20% 80%;
}



.gridCuerpobatalla
{
    display: grid;
    grid-template-rows: 60px 680px;
    
}

.gridCuerpobatalla div
{
    border: 1px solid rgb(216, 216, 216);
}

.gridSeparaCampoBatalla
{
    display: grid;
    grid-template-rows: 40% 20% 40%;
}

.gridSepararmensabatch1
{
    display: grid;
    grid-template-columns: 50% 50%;
}

.gridSepararmensabatch2
{
    display: grid;
    grid-template-columns: 50% 50%;
}

.gridSeparabatchataques1
{
    display: grid;
    grid-template-columns: 40% 60%;
}

.gridSeparabatchataques2
{
    display: grid;
    grid-template-columns: 40% 60%;
}

.gridSorteo
{
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.gridSeparaBotonMensaje
{
    display: grid;
    grid-template-rows: 30% 70%;
}

.estilosboton
{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid rgb(194, 193, 193);
    background-color: red;
    cursor: pointer;
    margin-left: 80px;
}


.TituloPaginaBatallas
{
    display: grid;
    grid-template-columns: 5% 95%;
    background-color: rgb(243, 244, 247);
    text-align: center;
}

.TituloPaginaBatallas h2
{
    font-size: 25px;
    margin-top: 10px;
}

.tamañoIconoFlecha img
{
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.estilosboton h1
{
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 25px;
}

.estilosboton:hover
{
    border: 3px solid black;
}