
.buscatta label
{
    margin-right: 10px;
    
}

.buscatta
{
    align-items: center;
}



.buscatta input
{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid rgb(209, 206, 206);
    align-items: center;
}

.buscatta input:hover
{
    border: 1px solid rgb(151, 151, 151);
}