.generalFiltroPortada label
{
    margin-right: 15px;
}




.TamañoFilt
{
    width: 50%;
    height: 40px;
    background-color: rgb(19, 92, 134);
    color: rgb(255, 255, 255);
    cursor: pointer;
    
}

.option
{
    cursor: pointer;
}


.estilosCaja 
{
    border: 1px solid rgb(226, 226, 226);
    width: 60%;
    height: 30px;
    cursor: pointer;
    background-color: rgb(3, 3, 48);
}

.estilosCaja:hover
{
    background-color: salmon;
    
} 

.estilosCaja h2
{
    color: white;
    text-align: center;
    margin-top: 5px;
}

.absolutLista
{
    background-color: rgb(39, 91, 126);
    opacity: 0.8;
    width: 185px;
    cursor: pointer;
}

.absolutLista ul
{
    list-style: none;
    width: 155px;
    margin-left: 15px;
}

.absolutLista ul li:hover
{
    background-color: rgb(226, 10, 10);
}


.absolutLista ul li a
{
    color: white;
    text-decoration: none;
}