.generalFiltroPortada label
{
    margin-right: 15px;
}





.TamañoFilt
{
    width: 50%;
    height: 40px;
    background-color: rgb(19, 92, 134);
    color: rgb(255, 255, 255);
    cursor: pointer;
    
}

.option
{
    cursor: pointer;
}


.estilosCaja 
{
    border: 1px solid rgb(226, 226, 226);
    width: 40%;
    height: 30px;
    cursor: pointer;
    background-color: rgb(3, 3, 48);
}

.estilosCaja h2
{
    color: white;
    text-align: center;
    margin-top: 5px;
}

.absolutLista
{
    background-color: rgb(39, 91, 126);
    opacity: 0.8;
}

.absolutLista div
{
    color: rgb(240, 240, 240);
}