
.gridFuego
{
    display: grid;
    grid-template-rows: 60px 600px;
}

.separaariCuerpo
{
    display: grid;
    grid-template-rows: 130px 390px;
}

.gridBadges
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 270px 270px;
    margin: 15px;
}

.separaBadges
{
    margin: 15px;
}